<template>
<!--  <img alt="Vue logo" src="./assets/logo.png">-->
<!--  <h2>欢迎光临</h2>-->
<!--  <div>请选择编号</div>-->
<!--  <div>-->
<!--&lt;!&ndash;    1&ndash;&gt;-->
<!--&lt;!&ndash;    <button @click="selectGirlsFun(index)" v-for="(item, index) in girls" :key="index">&ndash;&gt;-->
<!--&lt;!&ndash;      {{index}}-{{item}}&ndash;&gt;-->
<!--&lt;!&ndash;    </button>&ndash;&gt;-->
<!--&lt;!&ndash;    2&ndash;&gt;-->
<!--&lt;!&ndash;    <button @click="data.selectGirlsFun(index)" v-for="(item, index) in data.girls" :key="index">&ndash;&gt;-->
<!--&lt;!&ndash;      {{index}}-{{item}}&ndash;&gt;-->
<!--&lt;!&ndash;    </button>&ndash;&gt;-->
<!--&lt;!&ndash;    3&ndash;&gt;-->
<!--&lt;!&ndash;    <button @click="selectGirlsFun(index)" v-for="(item, index) in girls" :key="index">&ndash;&gt;-->
<!--&lt;!&ndash;      {{index}}-{{item}}&ndash;&gt;-->
<!--&lt;!&ndash;    </button>&ndash;&gt;-->
<!--&lt;!&ndash;    <div>选择编号->{{selectGirls}}</div>&ndash;&gt;-->
<!--&lt;!&ndash;    5&ndash;&gt;-->
<!--    <button @click="selectGirlsFun(index)" v-for="(item, index) in girls" :key="index">-->
<!--      {{index}}-{{item}}-->
<!--    </button>-->
<!--    <div>选择编号->{{selectGirls}}</div>-->
<!--    <div><button @click="overAction">选择完毕</button></div>-->
<!--    <div>{{ overText }}</div>-->
<!--  </div>-->

<!--  模块化-->
  <div>{{ nowTime }}</div>
  <div><button @click="getNowTime">显示时间</button></div>
</template>

<script lang="ts">

// reactive()

// import { defineComponent, ref, reactive, toRefs, onBeforeMount, onMounted, onBeforeUpdate, onUpdated, onRenderTracked, onRenderTriggered, watch  } from 'vue';
// 1
// export default defineComponent({
//   name: 'App',
//   setup() {
//     const girls = ref(['大脚', '刘英', '小红'])
//     const selectGirls = ref('')
//     const selectGirlsFun = (index: number) => {
//       selectGirls.value = girls.value[index]
//     }
//
//     return {
//       girls,
//       selectGirls,
//       selectGirlsFun
//     }
//   }
// });


// 2
// export default {
//   name: 'App',
//   setup() {
//     const data = reactive({
//       girls: ['大脚', '刘英', '小红'],
//       selectGirls: '',
//       selectGirlsFun: (index: number) => {
//         data.selectGirls = data.girls[index];
//       }
//     })
//
//     return {
//       data
//     }
//
//   }
// };



// 3
// interface DataProps {
//   girls: string[],
//   selectGirls: string,
//   selectGirlsFun: (index: number) => void;
// }
// export default {
//   name: 'App',
//   setup() {
//     const data: DataProps = reactive({
//       girls: ['大脚', '刘英', '小红'],
//       selectGirls: '',
//       selectGirlsFun: (index: number) => {
//         data.selectGirls = data.girls[index];
//       }
//     })
//
//     return {
//       data
//     }
//
//   }
// };



// // 4
// interface DataProps {
//   girls: string[],
//   selectGirls: string,
//   selectGirlsFun: (index: number) => void;
// }
// export default {
//   name: 'App',
//   setup() {
//     console.log('1-开始创建组件-------setup()')
//     const data: DataProps = reactive({
//       girls: ['大脚', '刘英', '小红'],
//       selectGirls: '',
//       selectGirlsFun: (index: number) => {
//         data.selectGirls = data.girls[index];
//       }
//     });
//
//     onBeforeMount(() => {
//       console.log('2-组件挂载到页面之前执行 ------- onBeforeMount()')
//     })
//
//     onMounted(() => {
//       console.log('3-组件挂载到页面之后执行 ------- onMounted()')
//     })
//
//     onBeforeUpdate(() => {
//       console.log('4-组件更新之前执行 ------- onBeforeUpdate()')
//     })
//
//     onUpdated(() => {
//       console.log('5-组件更新之后执行 ------- onUpdated()')
//     })
//
//     // onRenderTracked((event) => {
//     //   console.log('状态跟踪钩子函数---------------onRenderTracked', event)
//     // })
//     onRenderTriggered((event) => {
//       console.log('状态跟踪钩子函数---------------onRenderTriggered', event)
//     })
//
//     const refData = toRefs(data)
//
//     return {
//       ...refData
//     }
//
//   }
// };


// // 5   watch
// interface DataProps {
//   girls: string[],
//   selectGirls: string,
//   selectGirlsFun: (index: number) => void;
// }
// export default {
//   name: 'App',
//   setup() {
//     console.log('1-开始创建组件-------setup()')
//     const data: DataProps = reactive({
//       girls: ['大脚', '刘英', '小红'],
//       selectGirls: '',
//       selectGirlsFun: (index: number) => {
//         data.selectGirls = data.girls[index];
//       }
//     });
//     const refData = toRefs(data)
//     const overText = ref('红浪漫')
//     const overAction = () => {
//       overText.value = "点餐完成" + overText.value
//       // document.title = overText.value
//     }
//
//     watch([overText, () => data.selectGirls], (newValue, oldValue) => {
//       console.log(`newValue + ${newValue}`)
//       console.log(`oldValue + ${oldValue}`)
//       document.title = newValue[0]
//     })
//
//     return {
//       ...refData,
//       overText,
//       overAction
//     }
//
//   }
// };


// 模块化
// import { ref } from 'vue'
import { nowTime, getNowTime } from './hooks/useNowTime'

export default {
  name: 'App',
  setup() {
    // const nowTime = ref('00:00:00');
    // const getNowTime = () => {
    //   const Now = new Date();
    //   const hour = Now.getHours() < 10 ? '0' + Now.getHours() : Now.getHours();
    //   const minute = Now.getMinutes() < 10 ? '0' + Now.getMinutes() : Now.getMinutes();
    //   const second = Now.getSeconds() < 10 ? '0' + Now.getSeconds() : Now.getSeconds();
    //   nowTime.value = hour + ':' + minute + ':' + second;
    //   setTimeout(getNowTime, 1000)
    // }
    return { nowTime, getNowTime }
  }
}




</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>

<!--// 生命周期-->
<!--// 钩子函数-->
<!--// setup()-->
<!--// beforeCreate created-->
<!--// onBeforeUnmount() // 组件卸载之前执行的函数-->
<!--// onUnmounted-->
<!--// onActivated() <keep-alive></keep-alive>-->
<!--// onDeactivated()-->
<!--// onErrorCaptured()-->

<!--setup() :开始创建组件之前，在beforeCreate和created之前执行。创建的是data和method-->
<!--onBeforeMount() : 组件挂载到节点上之前执行的函数。-->
<!--onMounted() : 组件挂载完成后执行的函数。-->
<!--onBeforeUpdate(): 组件更新之前执行的函数。-->
<!--onUpdated(): 组件更新完成之后执行的函数。-->
<!--onBeforeUnmount(): 组件卸载之前执行的函数。-->
<!--onUnmounted(): 组件卸载完成后执行的函数-->
<!--onActivated(): 被包含在<keep-alive>中的组件，会多出两个生命周期钩子函数。被激活时执行。-->
<!--onDeactivated(): 比如从 A 组件，切换到 B 组件，A 组件消失时执行。-->
<!--onErrorCaptured(): 当捕获一个来自子孙组件的异常时激活钩子函数-->


<!--Vue2.x 和 Vue3.x 生命周期对比-->
<!--Vue2&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;vue3-->
<!--beforeCreate  -> setup()-->
<!--created       -> setup()-->
<!--beforeMount   -> onBeforeMount-->
<!--mounted       -> onMounted-->
<!--beforeUpdate  -> onBeforeUpdate-->
<!--updated       -> onUpdated-->
<!--beforeDestroy -> onBeforeUnmount-->
<!--destroyed     -> onUnmounted-->
<!--activated     -> onActivated-->
<!--deactivated   -> onDeactivated-->
<!--errorCaptured -> onErrorCaptured-->



<!--onRenderTracked onRenderTriggered-->
